.tamanho {
    height: 600px;
    width: 1900px;
}

.titulozin {
    font-size: medium;
    font-style: bold;
}

.butao {
    margin: 20px 0 0 0;
}

.rodapezin {
    padding: 0 0 0 800px;
}

.rodapezin2 {
    padding: 0 50px 0 0;
}

.separadinho {
    display: flex;
}

.missao-visao-valores {
    display: grid;
}

.separar {
    background-color: rgb(228, 230, 231);
}

.container-feature {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    
}

